<marquee behavior="scroll" direction="left"> ***  Next game or In action  ***  Next game or In action ***   Next game or In action  ***</marquee>

<div class="tile is-parent">
    <article class="tile is-child notification is-info">


      <nav class="level">
          <div class="level-item has-text-centered">
              <div>
              <h1><b>{{ nextTime }}</b></h1>
              <p class="heading">Team Home</p>
              <p class="title"> {{ teamHome }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="title">vs</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
              <div>
                <p class="heading">Team Away</p>
                <p class="title"> {{ teamAway }}</p>
              </div>
            </div>
      </nav>
    </article>
</div>


<figure class="image is-1x1">
    <img src="../assets/images/Neymar.jpg">
  </figure>


<div class="btn-group" role="group" aria-label="Basic example">

<div class="box1">
  <progress class="progress is-success" value="2" max="16">2%</progress>
  <div *ngFor="let m of matches">
    <section class="container" >
      <!-- <div class="item-a"> 
        <a href="https://www.fifa.com/worldcup/groups/">{{m.group}}</a> 
      </div>  -->
      <div class="item-a">
        <p>{{m.date }}</p>
      </div>
      <div class="item-c">
        <figure class="image is-20x20">
          <!-- <img src="m['teamHomeFlag'] }}"> -->
            <img src="../assets/images/{{m.teamHome}}.png" alt="Team Home icon">
        </figure>
      </div>
      <div class="item-d">
        <a href="https://www.fifa.com/worldcup/teams/"> {{ m['teamHome'] }} {{ m['scoreTeamHome'] }} x {{ m['scoreTeamAway'] }} {{ m['teamAway'] }} </a>
      </div>
      <div class="item-e">
        <figure class="image is-20x20">
            <!-- <img src="m['teamAwayFlag'] }}"> -->
          <img src="../assets/images/{{m.teamAway}}.png" alt="Team Away icon">
        </figure> 

      </div>
      <div *ngIf="!m.done; else second" class="item-g">
          <p> {{ m.time}}</p>
      </div>
      <ng-template #second>
        <figure class="image is-10x10 item-g">
          <div class="item-f"><span><img src="../assets/images/check.png"></span></div>
        </figure> 
        </ng-template>

    </section>
  </div>
  </div>
</div>
<!-- New Scores table -->
<figure class="image is-1x1">
  <img src="../assets/images/Tabela.png">
</figure>
